<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Tyson Romero
    <a href="https://github.com/trome23?tab=repositories"> My Github</a>
  </div>
  <!-- Copyright -->

</footer>