<footer class="topnav">
  <div class="footer-copyright">© 2019 Copyright: Tyson Romero
      <div class="container">
          All articles belong to <a href="https://www.vice.com/en_us" target="blank">Vice</a>
          <a href="/articles-json"> Article JSON</a>
      </div>
  </div>
</footer>