
<nav class="navbar navbar-expand-sm top-nav">
    <a class="navbar-brand" href="/">IGN News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
        aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="main-nav" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </button>
            </li>
            <li class="nav-item active">
                <button class="btn">
                    <a class="nav-link" href="/scrape">Scrape</a>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn">
                    <a class="nav-link" href="/clearArticles">Clear</a>
                </button>
            </li>
        </ul>

    </div>
</nav>