<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dev/uubc/My-Homework/Scraper-News/public/assets/css/style.css" type="text/css" />
    <title>Scraper News</title>
</head>
<body>
    {{> nav/navbar }}
        <div class="container">
            {{{body}}}
        </div>
    {{> footer }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>